<form action="/login-user" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" /><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" /><br><br>

    <% if (error) { %>
        <p id="error" style="color: red;"><%= error %></p>
    <% } %>

    <input type="submit" value="Log In" />
</form>