<h1>User Profile</h1>
    <div>
        <img src="/uploads/<%= user.profile_photo  %>" alt="Profile Photo" width="150">
    </div>
    <div>
        <p><strong>Full Name:</strong> <%= user.firstname  %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Phone:</strong> <%= user.phone %></p>
    </div>